.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: space-between;
  gap: 20px;
}

.pagination {
  text-align: center;
  margin-top: 30px;
}
